<form [formGroup]="form" class="space-y-4">
  @for (col of visibleFields; track col.name) {
  <div class="flex flex-col space-y-1">
    <label class="text-sm font-medium text-gray-700">
      {{ col.displayName || col.name }}
    </label>

    @if (col.isLookup) {
    <div class="relative flex items-center">
      <input class="border rounded-lg px-3 py-2 text-sm w-full bg-gray-100 cursor-pointer focus:outline-none"
        [value]="getLookupDisplay(col)" readonly (dblclick)="openLookup(col)" [formControlName]="col.name" />
      <button class="absolute right-1 text-gray-500 hover:text-gray-700" (click)="openLookup(col)">
        🔍
      </button>
    </div>
    @if (form.get(col.lookupIdField!)?.touched && form.get(col.lookupIdField!)?.errors) {
    <div class="mt-2 rounded-md border border-red-400 bg-red-50 p-3">
      @if (form.get(col.lookupIdField!)?.errors?.['required']) {
      <div class="text-sm text-red-600 font-medium">
        {{ col.displayName }} is required.
      </div>
      }
    </div>
    }
    } @else if (col.type === 'photo') {
    <div class="photo-container" (click)="openPhotoUpload(col)">
      <img [src]="form.get(col.name)?.value ? form.get(col.name)?.value : 'assets/noimg.png'" alt="Photo"
        class="max-w-[200px] max-h-[200px] object-contain cursor-pointer border rounded" />
    </div>
    }
    @else {
    @if (col.name == "role") {
    <select [formControlName]="col.name"
      class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      <option value="Admin">Admin</option>
      <option value="Regular">Regular</option>
    </select>
    }
    @else {
    <input [type]="mapType(col.type)" [formControlName]="col.name"
      [ngClass]="mapType(col.type) === 'checkbox' 
    ? 'h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500' 
    : 'border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500'" />
    }


    @if (form.get(col.name)?.touched && form.get(col.name)?.errors) {
    <div class="mt-2 rounded-md border border-red-400 bg-red-50 p-3">
      @if (form.get(col.name)?.errors?.['required']) {
      <div class="text-sm text-red-600 font-medium">
        {{ col.displayName }} is required.
      </div>
      }
      @if (form.get(col.name)?.errors?.['maxlength']) {
      <div class="text-sm text-red-600 font-medium">
        Max length {{ col.validationRules?.maxLength }} exceeded.
      </div>
      }
      @if (form.get(col.name)?.errors?.['minlength']) {
      <div class="text-sm text-red-600 font-medium">
        Must be at least {{ col.validationRules?.minLength }} characters.
      </div>
      }
      @if (form.get(col.name)?.errors?.['pattern'] && !col.validationRules?.isUrl && !col.validationRules?.isPassword) {
      <div class="text-sm text-red-600 font-medium">
        Invalid format.
      </div>
      }
      @if (form.get(col.name)?.errors?.['min']) {
      <div class="text-sm text-red-600 font-medium">
        Value must be at least {{ col.validationRules?.min }}.
      </div>
      }
      @if (form.get(col.name)?.errors?.['max']) {
      <div class="text-sm text-red-600 font-medium">
        Value must be at most {{ this.maxQuantity }}.
      </div>
      }
      @if (form.get(col.name)?.errors?.['maxQuantity']) {
      <div class="text-sm text-red-600 font-medium">
        Value must be at most {{ this.maxQuantity }}.
      </div>
      }
      @if (form.get(col.name)?.errors?.['email']) {
      <div class="text-sm text-red-600 font-medium">
        Must be a valid email.
      </div>
      }
      @if (form.get(col.name)?.errors?.['pattern'] && col.validationRules?.isUrl) {
      <div class="text-sm text-red-600 font-medium">
        Must be a valid URL.
      </div>
      }
      @if (form.get(col.name)?.errors?.['pattern'] && col.validationRules?.isPassword) {
      <div class="text-sm text-red-600 font-medium">
        Password must contain letters and numbers (min 8 chars).
      </div>
      }
    </div>
    }
    }
  </div>
  }

  <div class="mt-6 flex space-x-3">
    @if (mode === 'add') {
    @if (isProcedureStep1) {
    <button type="button" (click)="onCreateLines()"
      class="px-4 py-2 bg-green-600 text-white rounded-lg shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">
      Next (Add Lines)
    </button>
    <!-- Cancel -->
    <button type="button" (click)="onCancel()"
      class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg shadow hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500">
      Cancel
    </button>
    }
    @else if (isProcedureStep2) {
    <button type="button" (click)="onAddMoreLines()"
      class="px-4 py-2 bg-green-600 text-white rounded-lg shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">
      Add more lines
    </button>
    <button type="button" (click)="onSaveAllAndExit()"
      class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
      Save all and exit
    </button>
    <button type="button" (click)="onProcedureCancel()"
      class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg shadow hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500">
      Exit without saving
    </button>
    }
    @else {
    @if (parentType != 'user') {
    <!-- Save & Add Another -->
    <button type="button" (click)="onSaveAndAddAnother()"
      class="px-4 py-2 bg-green-600 text-white rounded-lg shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">
      Save & Add Another
    </button>
    }

    <!-- Save & Exit -->
    <button type="button" (click)="onSaveNewAndExit()"
      class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
      {{ parentType == 'user' ? 'Save' : 'Save & Return' }}
    </button>

    <!-- Cancel -->
    <button type="button" (click)="onCancel()"
      class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg shadow hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500">
      Cancel
    </button>
    }
    }
    @else if (mode === 'edit') {

    <button type="button" (click)="onSaveAndExit()"
      class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
      Save & Return
    </button>
    <!-- Cancel -->
    <button type="button" (click)="onCancel()"
      class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg shadow hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500">
      Cancel
    </button>
    }
    @else {
    <button type="button" (click)="onSave()"
      class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
      Save & Return
    </button>

    <!-- Cancel -->
    <button type="button" (click)="onCancel()"
      class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg shadow hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500">
      Exit
    </button>
    }
  </div>
</form>